@import "variables";

body {
    margin: 0;
    font-family: "MakomBalevHebrew";
    direction: rtl;
}

.navbar {
    height: 150px;
    padding: 8.5px;
    color: $text-primary;
    font-size: 2em;

    .slogan {
        font-size: 0.7em;
        width: 10em;
        user-select: none;
    }

    .nav-link {
        color: $text-primary;
        padding: 0;
        user-select: none;
    
        &:hover, &:active {
            color: $text-secondary;
            background-color:  rgb(255, 232, 214);
        }
    }

    .link-divider {
        font-size: 1.4em;
        line-height: 100%;
        padding: 0 12px;
        user-select: none;
    }

    .about-info {
        font-family: 'Arial Black', 'Arial Bold', sans-serif;
        font-size: 0.33em;
        position: absolute;
        top: 10px; left: 10px;
        text-align: center;
        span {
            background: $back-primary;
        }
        .about-links {
            margin-top: 0.5em;
            a {
                color: $text-primary;
                text-decoration: none;
            }
        }
    }
}

.content {
    direction: rtl;
    background: $back-content;
    color: $text-secondary;
    padding: 25px 50px;
    font-size: 1.5em;
    .post {
        background: $back-post;
        .title {
            text-decoration: underline;
            font-size: 1.5em;
        }
        p {
            background-color: $back-post-text;
            margin: 10px;
        }
        img {
            margin: 10px 0;
        }
    }

    .post + .post {
        margin-top: 50px;
    }
}

.footer {
    font-size: 1.5em;
    color: $text-primary;
    ul {
        padding: 0;
        li {
            font-size: 0.7em;
            list-style: none;
        }
    }

    .about-info {
        font-family: 'Arial Black', 'Arial Bold', sans-serif;
        direction: ltr;
        color: $text-primary;
        span {
            text-align: center;
            width: 18em;
            background: $back-primary;
        }
        .about-links {
            margin-top: 0.5em;
            a {
                color: $text-primary;
                text-decoration: none;
            }
        }
    }
}