$primary-color: rgb(138, 47, 46);
$secondary-color: rgb(178, 87, 87);
$info-color: rgb(255, 232, 214);
$current-page: rgb(255, 232, 214);

@font-face {
    font-family: "MakomBalevHebrew";
    src: url("../assets/MakomBalevHebrew.otf");
}

@font-face {
    font-family: "MakomBalev";
    src: url("../assets/MakomBalev.otf");
}